h1{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: lightslategray;
  height: 150px;
}
.Menu {
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 78vw;
  justify-content: space-evenly;
  font-size: 1.2rem;
  font-weight: bolder;
}
.Edits {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  top: 75px;
  background-color: rgb(240, 187, 166);
  height: 110px;
  top: 100px;
  font-size: 1.1rem;
  font-weight: bold;
}
p, .inputs {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
